.painting-creation-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.painting-creation-input-div {
    display: flex;
    flex-direction: row;
    height: 600px;
}

.painting-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.giclee-create {
    overflow: visible;
}

.set-aspect-ratio {
    display:block;
}