.home-div{
    margin-left: 1rem;
    margin-right: 1rem;
}

.expression-div {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.quote-div {
    text-align: center;
}

.quote-image {
    width:100%;
}

.originals-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.originals-link {
    text-decoration: none;
}

.prints-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 1000px) {
    .expression-div {
      flex-direction: column;
    }

}